// Produced by Duong Trung Nguyen
$primary: #C7923E;

.services-group-site {
    width: 100%;
    padding: 0 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
    .services-group-top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .services-group-title {
            color: #0C111F;
            font-family: 'Lora';
            font-size: 50px;
            font-style: normal;
            font-weight: 800;
            line-height: 130%; /* 62.4px */
            letter-spacing: -0.48px;
        }

        .services-group-description {
            font-size: 1.2rem;
            font-weight: 400;
        }

        .services-group-control {
            display: flex;
            gap: 1rem;
            
        }
    }
    
    .services-group-body {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 1rem;

        .service-item:nth-child(n+5) {
            display: none;
        }

    }
}

@keyframes leftSlide {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-25%, 0);
    }
}

// MOBILE RESPONSIVE

@media only screen and (max-width: 767px) {
    .services-group-site {
        padding:1rem;
        margin-bottom: 30px;

        .services-group-top {
            
            .services-group-title {
                font-size: 2rem;
            }

            .services-group-description {
                display: none;
            }
        }


        .services-group-body {
            gap: 1rem;

            .service-item:nth-child(n+2) {
                display: none;
            }
        }
    }
    
}

// TABLET RESPONSIVE

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .services-group-site {
        padding:1rem;

        .services-group-top {
            
            .services-group-title {
                font-size: 2.5rem;
            }

            .services-group-description {
                display: none;
            }
        }

        .services-group-body {
            gap: 1rem;

            .service-item:nth-child(n+3) {
                display: none;
            }
        }
    }
}

// MINI PC RESPONSIVE

@media only screen and (min-width: 1024px) and (max-width: 1400px) {

    .services-group-site {

        .services-group-body {
            .service-item:nth-child(n+4) {
                display: none;
            }
        }
    }
}