.blog-editor-site {

    .blog-editor {
        width: 100%;
        height: 100%;
        margin-top: 2rem;
        background-color: #fff;
        animation: slowVisible 0.5s;

        .heading-editor {
            animation: slowVisible 0.5s;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    
        .content-editor {
            width: 100%;
            height: 300px;
            animation: slowVisible 0.5s;
        }

        @keyframes slowVisible {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    }

    .preview {
        margin-top: 10px;
        height: 770px;
        overflow-y: scroll;
        padding: 1rem;
        
        a {
            text-decoration: underline;
            color: #0267cb;
        }

        &::-webkit-scrollbar {
            width: 3px;
        }
        
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 3px;
        }
        
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
  

        .default-preview {
            height: max-content;

            .default-preview-tag {
                height: 1.5em;
                width: 20%;
                background-color: #f1f3f4;
                border-radius: 5px;
            }

            .default-preview-title {
                height: 1.5em;
                width: 70%;
                background-color: #f1f3f4;
                border-radius: 5px;
            }

            .default-preview-author{
               display: flex;
               align-items: center;
               gap: 10px;
            }

            .default-preview-thumnail {
                width: 100%;
                height: 500px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #f1f3f4;
                border-radius: 5px;

                & > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
        }
    }
}

.paragraph-layout-list {
    width: 100%;
    max-height: 500px;
    overflow-y: scroll;
}

.blog-post-list {
    &::-webkit-scrollbar {
        width: 3px;
    }
    
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 3px;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

}