.admin-hero-site {
    width: 100%;
    position: relative;

    video {
        width: 100%;
        max-height: 300px;
        border-radius: 20px;
        object-fit: cover;
        box-shadow: 0 0 3px 1px #c7c8c8;
    }

    .hero-content {
        position: absolute;
        left: 30px;
        top: 40%;

        .time {
            color: #fff;
            font-weight: 600;
            font-size: 1.3rem;
        }

        .hero-title {
            font-weight: 900;
            color: #fff;
            font-size: 2.5rem;
        }
    }
}