// Produced by Duong Trung Nguyen

$primary: #C7923E;
$blue: #27AAE1;
$yellow: #FFCD41;

.weather-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .image-icon {
    width: 150px;
    height: 150px;
    position: relative;
  }

  .item-title {
    color: #9A9AB0;
    text-align: center;
    font-family: "Mulish";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */
    letter-spacing: 0.072px;
    padding: 1rem;
  }

  .detail-value {
    p {
        color: #000;
        text-align: center;
        font-family: "Lora";
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 46.8px */
        letter-spacing: 0.195px;
    }
  }

  .rain {
    
    svg {
      height: 100%;
      width: 100%;
      transform: scale(1.2) translate(0, 10%);
    }
    
    &__raindrops {
      path {
        fill: $blue;
      }
      
      @for $i from 1 through 10 {
          &--#{$i} {
            animation: rain #{random(7)/2}s #{random(10)/10}s infinite;
          }
      }
      
    }
      
    &__clouds path {
      fill: white;
      stroke: $primary;
      stroke-width: 6;
      stroke-miterlimit: 6;
      background: #fefbf2;
      &:first-child {
        animation: thunder 3s 1s infinite linear;
      }
      &:last-child {
        animation: thunder 3s 1.2s infinite linear;
      }
    }
    &__lightning polygon {
      fill: $yellow;
      opacity: 0;
      
      &:first-child {
        animation: lightning 3s 1s infinite linear;
      }
      &:last-child {
        animation: lightning 3s 1.2s infinite linear;
      }
    }
  }

  .sun { 
    position: relative;
    width: 90%;
    height: 90%;
    top: 0;
    float: right;
    padding: 1rem;
    animation: weather-icon-move 5s ease-in-out infinite;
    background: $primary; 
    border-radius: 50%; 
    box-shadow: rgba(255,255,0,0.1) 0 0 3px 4px;
    animation: light 800ms ease-in-out infinite alternate, weather-icon-move 5s ease-in-out infinite;
  }

}

@keyframes light {
    from {
      box-shadow: rgba(255, 200, 0, 0.2) 0 0 3px 10px;
    }
    to {
      box-shadow: rgba(255, 221, 0, 0.2) 0 0 5px 25px;
    }
}



@keyframes rain {
  0% {
    opacity: 1;
    transform: translate(0,0);
  }
  100% {
    opacity: 0;
    transform: translate(-25px,35px);
  }
}

@keyframes thunder {
0% {
  fill: #fff;
}
1% {
  fill: #333;
}
2% {
  fill: #fff;
}
5% {
  fill: #fff;
}
6% {
  fill: #333;
}
12% {
  fill: #fff;
}
}



@keyframes lightning {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  16% {
    opacity: 0;
  }
}