.container-weather{

    width: 100% ;
    margin-top: 100px ;
    .container-item{
        width: 70%;

        .wheather-item {

            flex-direction: column;
            padding-bottom: 20px;

            .image-icon{

                width: 100px ;
                height: 100px;
                background: #9A9AB0;
            }

            .item-title{
                    color: #9A9AB0;
                    text-align: center;

                    font-family: "Mulish";
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%; /* 28.8px */
                    letter-spacing: 0.072px;
                    padding: 20px 0px 20px 0px;
            }

            .detail-value {
                p {
                    color: #000;
                    text-align: center;

                    /* Heading/H3 Bold */
                    font-family: "Lora";
                    font-size: 39px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; /* 46.8px */
                    letter-spacing: 0.195px;
                }
            }
        }
    }
}

// TABLET RESPONSIVE
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container-weather{

        .container-item{

            width: 50%;
            justify-content: center;
            
        }
    }
  }

// MOBILE RESPONSIVE
@media only screen and (max-width: 1024px) {
    .container-weather{
        
        .container-item{
            
            flex-direction: column;

        }
    }
}