// Produced by Duong Trung Nguyen

.benefit-site {
    width: 100%;
    display: flex;
    padding: 0 5rem;
    margin-bottom: 5rem;

    .benefit-left {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 25px;

        .benefit-title {
            color: #0C111F;
            font-family: 'Lora';
            font-size: 50px;
            font-style: normal;
            font-weight: 800;
            line-height: 130%; /* 62.4px */
            letter-spacing: -0.48px;
        }

        .short-description {
            color: #5f6166;
            font-family: 'Inter';
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 400;
            line-height: 180%; /* 36px */
        }

        .benefit-gallery {
            position: relative;

            img {
                width: 100%;
                height: max-content;
                object-fit: cover;
            }

            .location {
                position: absolute;
                top: 10px;
                left: 20px;
                display: flex;
                align-items: center;
                gap: 5px;
                border-radius: 80px;
                background: rgba(255, 255, 255, 0.22);
                backdrop-filter: blur(7.5px);
                padding: 6px 12px;

                label {
                    color: #fff;
                }
            }
        }
    }

    .benefit-right {
        width: 50%;
        position: relative;
        
        .benefits-list {
            height: 100%;
            width: 100%;
            padding: 4rem 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 25px;

            .benefit-item{
                display: flex;
                gap: 1rem;
                align-items: center;
                padding: 2rem 0;

                .icon {
                    padding: 1rem;
                    border-radius: 50%;
                    background-color: #f4f0ff;
                }

                .content {
                    .benefit-name {
                        color: #0C111F;
                        font-size: 30px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 40px;
                        text-transform: capitalize;
                        margin-bottom: 12px;
                    }

                    .benefit-description {
                        font-size: 1.2rem;
                        font-weight: 400;
                    }

                }
                
                &:nth-child(even) {
                    border-top: 1px solid #F7F7F7;
                    border-bottom: 1px solid #F7F7F7;

                    .icon {
                        background-color: #fefbf1;

                    }
                }

            }

        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


// MOBILE RESPONSIVE

@media only screen and (max-width: 767px) {
    .benefit-site {
        padding: 1rem;
        flex-direction: column;
        margin-bottom: 30px;

        .benefit-left {
            width: 100%;
            gap: 20px;

            .benefit-title {
                text-align: center;
                font-size: 2.5rem;
            }
    
            .short-description {
                font-size: 0.8rem;
                text-align: center;
            }

            .benefit-gallery {
                img {
                    width: 100%;
                }
            }
        }

        .benefit-right {
            width: 100%;
            padding: 1rem 0;
            
            .benefits-list {
                padding: 0;

                .benefit-item {
                    padding: 1rem 0;

                    .content {
                        .benefit-name {
                            font-size: 1rem;
                            margin-bottom: 0px;
                        }

                        .benefit-description {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
    
}

// TABLET RESPONSIVE

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .benefit-site {
        padding: 1rem;
        flex-direction: column;

        .benefit-left {
            width: 100%;

            .benefit-title {
                text-align: center;
                font-size: 2.5rem;
            }
    
            .short-description {
                font-size: 1rem;
                text-align: center;
            }

            .benefit-gallery {
                img {
                    width: 100%;
                }
            }
        }

        .benefit-right {
            width: 100%;
            padding: 1rem 0;
            
            .benefits-list {
                padding: 0;

                .benefit-item {
                    padding: 1rem 0;

                    .content {
                        .name {
                            font-size: 2rem;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}

// MINI PC RESPONSIVE

@media only screen and (min-width: 1024px) and (max-width: 1400px) {


}