.admin-sidebar-site {
    height: 100vh;
    position: sticky;
    width: 100%;
    left: 0;
    top: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    .admin-sidebar-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-bottom: 2rem;

    }

    .admin-sidebar-body {
        height: 100%;

        .admin-nav-list {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            list-style: none;
            
            .admin-sidebar-item {
                width: 100%;
                border-radius: 10px;
                
                &:hover, &.active {
                    background-color: rgb(238, 237, 237);
                }
                
                a {
                    display: flex;
                    gap: 10px;
                    padding: 1rem;
                    align-items: center;
                }
            }
        }
    }
}