.container-gallery {
  width: 100%;
  background: #27343f;
  margin-top: -344px;
  z-index: -1;

  .gallery-site {

    top: 100px;
    padding-top: 464px;
  }

  .content-gallery {
    padding: 0px 5rem 80px 5rem;
    align-items: center;
    .content {
      width: 50%;

      .heading-name {
        font-family: 'Lora';
        margin-bottom: 8px;
        font-size: 50px;
      }
    }

    .btn {
      height: max-content;
    }
  }

  .gallery-list-container {

    padding-bottom: 40px;

    .gallery-list {
      display: flex;
      width: 100%;
      gap: 10px;
      height: 690px;

      .column-collapse {
        width: 60%;
        display: flex;
        gap: 10px;

        .column {
          width: calc(100% / 3);
          height: 100%;

          &.column-one {
            display: flex;
            flex-direction: column;
            gap: 10px;
    
            .gallery-item {
              width: 100%;
              height: 50%;
    
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
    
          &.column-two {
            .gallery-item {
              width: 100%;
              height: 100%;
    
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          &.column-three {
            display: flex;
            flex-direction: column;
            gap: 10px;
    
            .gallery-item:nth-child(1) {
              width: 100%;
              height: 70%;
            }
            .gallery-item:nth-child(2) {
              width: 100%;
              height: 30%;
            }
    
            .gallery-item {
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
  
      }
      .column-four {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        .column-four-top {
          width: 100%;
          height: calc(50% - 10px);

          .gallery-item {
            width: 100%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        
        .column-four-bottom {
          width: 100%;
          height: 50%;
          display: flex;
          gap: 10px;

          .gallery-item {
            width: 50%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        
      }
    }
  }
}

.w-30 {

  width: 30%;
}
.collumn-100 {

  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 768px) {

  .container-gallery {

    .gallery-site {
      padding: 0 1rem;
      padding-top: 180px;
      
      .content-gallery {
        padding: 0;
        margin-bottom: 1rem;
        position: relative;
        display: flex;
        flex-direction: column;

        .content {
          width: 100%;
          margin-bottom: 1rem;

          .heading-name {
            font-size: 2rem;
          }
        }
        .btn {
          width: 100%;
        }
      }
    }
    .gallery-list-container {
      .gallery-list {
        flex-direction: column;

        .column-collapse {
          width: 100%;
          height: 50%;
        }

        .column-four {
          width: 100%;
          height: 50%;
        }
      }
    }
  }
  .collumn-100 {

    height: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container-gallery {

    .gallery-site {
      
      padding-top: 360px;

      .content-gallery {
        padding: 1rem;
        flex-direction: column;
        .btn-open {

          margin-top:10px;
          width: 100%;
        }
      }

      
    }
  }
}

@media only screen and (min-width: 768px) {
  
}
