.nav-contain {
    background-color: #fff !important;
    box-shadow: none;
}

.Blog-container-left-site{
    width: 50%;
}

.list-tab{
    display: flex;
    gap:10px;
    border-bottom:3px solid #C7923E ;
    width: fit-content;

}
.tab{
    width: fit-content;
    color: #C7923E;
}

a {
    color: #C7923E;
}

.img-content{
    width: 100%;
}