.container-blog-right {

  margin-bottom: 100px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  .blog-right-site {
    
    width: 192%;
    background-color: #909090;
    height: 600px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }
  .blog-left-site {

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    padding-right: 10%;
    z-index: -1;

    .heading-blog {
      margin-bottom: 30px;

      .heading-name {
        color: #11142d;
        font-family: 'Lora';
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0.195px;
      }
    }

    .content-intro-blog {

      position: relative;

      .content-blog {

        color: #515151;

        font-family: 'Mulish';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%; /* 20px */
        letter-spacing: 0.08px;
      }

      .list-container {

        margin-top: 20px;

        .list-content {

          li {
            color: var(--light-text-color-body-2, #9a9ab0);

            font-family: 'Mulish';
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; 
            letter-spacing: 0.072px;
            padding-top: 10px;
          }
        }
      }

      .btn-more {

        padding-top: 55px;
        position: absolute;
        left: 0;
      }
    }
  }
}

// MOBILE RESPONSIVE
@media only screen and (max-width: 1024px) {

  .container-blog-right {
    margin-bottom: 50px;
    flex-direction: column;
    .blog-right-site {
      
      width: 100%;
    }
    .blog-left-site {
      margin-top: 50px;

      .content-intro-blog {

        z-index: -1;
        .btn-more {

          position: relative;
          padding-top: 20px;
          left: 0;
          margin-bottom: 20px;
        }
      }
    }
  }
}

// TABLET RESPONSIVE
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container-blog-right {

    margin-bottom: 50px;
    flex-direction: row-reverse;
    .blog-right-site {

      width: 300%;
    }
    .blog-left-site {

      margin-top: 50px;
    }
    .btn-more {
      position: relative;
      margin-bottom: 100px;
      padding-top: 50px;
      left: 0;
    }
  }
}

// MINI PC RESPONSIVE

@media only screen and (min-width: 1024px) and (max-width: 1400px) {
}
