// Produced by Duong Trung Nguyen

.loading-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  display: flex;
  z-index: 9999;
  align-items: center;
  justify-content: center;

  .loading-animation-wrapper {
    width: 50px;
    height: 50px;
    position: relative;

    .item {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: var(--primary-yellow);
      position: absolute;
    }
    
    .item-1 {
      top: 0;
      left: 0;
      z-index: 1;
      animation: item-1_move 1.5s linear infinite;
    }
    
    .item-2 {
      top: 0;
      right: 0;
      animation: item-2_move 1.5s linear infinite;
    }
    
    .item-3 {
      bottom: 0;
      right: 0;
      z-index: 1;
      animation: item-3_move 1.5s linear infinite;
    }
    
    .item-4 {
      bottom: 0;
      left: 0;
      animation: item-4_move 1.5s linear infinite;
    }
  }
}

  
  
  
  @keyframes item-1_move {
    0%, 100% {
      transform: translate(0, 0)
    }
  
    25% {
      transform: translate(0, 20px)
    }
  
    50% {
      transform: translate(20px, 20px)
    }
  
    75% {
      transform: translate(20px, 0)
    }
  }
  
  @keyframes item-2_move {
    0%, 100% {
      transform: translate(0, 0)
    }
  
    25% {
      transform: translate(-20px, 0)
    }
  
    50% {
      transform: translate(-20px, 20px)
    }
  
    75% {
      transform: translate(0, 20px)
    }
  }
  
  @keyframes item-3_move {
    0%, 100% {
      transform: translate(0, 0)
    }
  
    25% {
      transform: translate(0, -20px)
    }
  
    50% {
      transform: translate(-20px, -20px)
    }
  
    75% {
      transform: translate(-20px, 0)
    }
  }
  
  @keyframes item-4_move {
    0%, 100% {
      transform: translate(0, 0)
    }
  
    25% {
      transform: translate(20px, 0)
    }
  
    50% {
      transform: translate(20px, -20px)
    }
  
    75% {
      transform: translate(0, -20px)
    }
  }