// Produced by Khai Nguyen
// Modify by Duong Trung Nguyen
* {
    color: #3e334e;
  }
  .bottom-site {
    display: flex;
    justify-content: stretch;
    gap: 0;

    .bottom-left {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5rem;
      background-color: #27343f;

      .bottom-left-header {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        color: #fff;
  
        .header-left {
          color: #fff;
          /* Heading/H3 Bold */
          font-family: 'Lora';
          font-size: 2.5rem;
          font-style: normal;
          font-weight: 700;
          line-height: 120%; /* 46.8px */
          letter-spacing: 0.195px;
        }
  
        .description-header {
          color: #fff;
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: 125%; /* 20px */
          letter-spacing: 0.08px;
        }
      }

      .bottom-left-body{
        width: 100%;
        height: 100%;

        form {
          display: flex;
          flex-direction: row;
          gap: 0.5rem;

          .input-layout {
            width: 100%;
            height: 56px;
            border-radius: 8px;
            padding: 1rem;
            border: none;
          }

          .btn-bottom {
            width: 56px;
            height: 56px;
            border-radius: 8px;
            background-color: #c7923e;
          }
        }
      }

      .bottom-left-footer {
        .copyright {
          color: #fff;
  
          /* Body/Body 1 Regular */
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: 125%; /* 20px */
          letter-spacing: 0.08px;
        }
      }
    }

    .bottom-right {
      width: 60%;
      background-color: #1a242d;
      padding: 4rem;
      
      .bottom-right-header {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .description-header {
          color: #fff;
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: 125%; /* 20px */
          letter-spacing: 0.08px;
        }
        .quick-links{
          display: flex;
          justify-content: space-between;
          
          .detail-list:hover {
            cursor: pointer;
            color: #787777;
          }
          li {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 8px;
            flex: 1 0 0;
            padding: 5px 0 5px 0;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 19.2px */
            letter-spacing: 0.08px;
            color: #fff;

            ul {
              width: 100%;
              li {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 767px) {
    .bottom-site {
      display: block;

      .bottom-right {
        width: 100%;
        padding: 1.5rem 1rem;

        .bottom-right-header {
          gap: 1.5rem;

          .description-header {
            font-size: 1rem;
            letter-spacing: 0.08px;
          }
          .quick-links{
            display: flex;
            justify-content: space-between;
            li {
              font-size: 1rem;
              // justify-content: center;
            }
          }
        }
      }

      .bottom-left {
        width: 100%;
        padding: 1rem;
        align-items: center;

        .bottom-left-header {

          .header-left {
            font-size: 2rem;
          }
    
          .description-header {
            font-size: 1rem;
          }

          .copyright {
            font-size: 1rem;
          }
        }

        .bottom-left-body {
          form {
            .input-layout {
              width: 100%;
            }

            .btn-bottom {
              width: 100%;
            }
          }
        }
      }
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .bottom-site {
      flex-direction: column;
      .bottom-left {
        width: 100%;

        .input-bottom {
          .input-layout {
              width: 100%;
            }
          .btn-bottom {
            width: 100%;
          }
        }
      }
      .bottom-right{
        width: 100%;

        .bottom-right-header{
          gap: 1.5rem;

          .quick-links{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            & > li {
              width: max-content;
            }
          }
          
        }
      }
    }
  }
  
  @media only screen and (min-width: 768px) {
  }
  
