.popular-blogs-site {
    width: 100%;
    padding: 5rem;

    .popular-blogs-header {
        margin-bottom: 2rem;

        .blog-heading {
            font-family:'Lora';
            font-size: 39px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /* 46.8px */
            letter-spacing: 0.195px;
        }
    }

    .popular-blogs-body {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        gap: 1rem;
        height: 600px;

        .blog {
            display: flex;
            gap: 1rem;
            padding: 0 1rem;
            margin-left: 30px;
            border-radius: 10px;
            transition: 0.5s;

            &:hover {
                box-shadow: 0 0 0 1px #E1E1E1;
                transform: scale(1.03);
            }

            .blog-hero {
                display: flex;
                align-items: center;

                img {
                    width: 150px;
                    height: 80%;
                    object-fit: cover;
                    border-radius: 8px;
                }
            }

            .blog-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;

                .blog-type, 
                .upload-info * {
                    font-family: 'Mulish';
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%; /* 16.8px */
                    letter-spacing: 0.07px;
                }

                .blog-title {
                    font-family: 'Lora';
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%; /* 28.8px */
                    letter-spacing: 0.12px;
                }

                .upload-info {
                    display: flex;
                    gap: 10px;
                }
            }

            &:nth-child(1) {
                grid-column: 1;
                grid-row: 1 / 4;
                position: relative;
                margin: 0;
                padding: 0;
                border: none;

                .blog-hero {
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 600px;
                    }
                }

                .blog-content {
                    width: 100%;
                    position: absolute;
                    bottom: 50px;
                    padding: 0 2rem;

                    * {color: #fff;}

                    .blog-type, 
                    .upload-info * {
                        font-size: 18px;
                    }

                    .blog-title {
                        font-size: 32px;
                    }
                }
            }
        }
    }
}


// MOBILE RESPONSIVE
@media only screen and (max-width: 1024px) {
    .popular-blogs-site {
        padding: 1rem;

        .popular-blogs-body {
            grid-template-columns: 100%;
            height: max-content;

            .blog {

                &:hover {
                    box-shadow: unset;
                    transform: scale(1);
                }
    
                .blog-hero {
                    img {
                        height: 100%;
                    }
                }
                margin-left: 0;
                padding: 0;


                .blog-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .blog-type, 
                    .upload-info * {
                        font-size: 0.8rem;
                    }

                    .blog-title {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

// TABLET RESPONSIVE
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .popular-blogs-site {
        .popular-blogs-body {
            grid-template-columns: 100%;
            height: max-content;

            .blog {
                margin-left: 0;
                padding: 0;

                &:hover {
                    box-shadow: unset;
                    transform: scale(1);
                }
            }
        }
    }

}

// MINI PC RESPONSIVE

@media only screen and (min-width: 1024px) and (max-width: 1400px) {


}